<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha de Playlist</title>
    <link rel="stylesheet" href="/css/Choose-Playlists.css">
</head>
<body>
    <div class="container">
        <h1>Escolha uma Opção</h1>
        <div class="button-container">
            <a href="/create" class="btn">Criar Nova Playlist</a>
            <a href="/edit" class="btn">Editar Playlist Existente</a>
        </div>
    </div>
</body>
</html>
