<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <link rel="stylesheet" href="../../public/css/Landing-Page.css">
</head>
<body>
    <div class="container">
        <h1>PI 4</h1>
        <div class="button-container">
            <a href="/manage" class="btn">Gerenciar Conexões</a>
            <a href="/playlists" class="btn">Criar Playlists</a>
        </div>
    </div>
</body>
</html>
