body {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Ajuste para o layout de uma única coluna */
}

.container {
    display: flex;
    flex-direction: column; /* Alinha os itens em uma coluna */
    justify-content: space-between; /* Espaça os itens de forma apropriada */
    height: 100%;
}

#carousel-container {
    margin-bottom: 20px;
}

.sortable-container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.add-slide-btn {
    background-color: #3b3b3b;
    color: #f0f0f0;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-slide-btn:hover {
    background-color: #5a5a5a;
}

/* Botões de ação */
#actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #3b3b3b;
    border: none;
    color: #f0f0f0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a5a5a;
}

/* Popup Styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fallback color */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
}

.btn-option {
    background-color: #3b3b3b;
    color: #f0f0f0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.btn-option:hover {
    background-color: #5a5a5a;
}

.btn-close {
    background-color: #3b3b3b;
    color: #f0f0f0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-close:hover {
    background-color: #5a5a5a;
}

/* Popup de Upload de Mídia */
#media-upload-popup {
    background-color: #333;
    border: 2px dashed #5a5a5a;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

#media-upload-popup h2 {
    color: #c0c0c0;
}

#media-upload-popup input[type="file"] {
    background-color: #3b3b3b;
    color: #f0f0f0;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#media-upload-popup button {
    background-color: #3b3b3b;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#media-upload-popup button:hover {
    background-color: #5a5a5a;
}

/* Editor de Texto */
#text-editor-popup {
    background-color: #333;
    border: 2px solid #5a5a5a;
    padding: 20px;
    border-radius: 5px;
}

#text-editor-popup h2 {
    color: #c0c0c0;
}

#text-editor-popup textarea {
    width: 100%;
    height: 200px;
    background-color: #3b3b3b;
    color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#text-editor-popup button {
    background-color: #3b3b3b;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#text-editor-popup button:hover {
    background-color: #5a5a5a;
}

/* Lista de Slides e Previews */
#slides {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.slide-text, .slide-media {
    background-color: #333;
    color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    width: calc(33.333% - 10px); /* 3 slides por linha */
    margin-bottom: 10px;
}

.slide-media img, .slide-media video {
    width: 100%;
    border-radius: 5px;
}

.playlist-slide {
    background-color: #333;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Ajustes de Responsividade */
@media (max-width: 768px) {
    .slide-text, .slide-media {
        width: calc(50% - 10px); /* 2 slides por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .slide-text, .slide-media {
        width: 100%; /* 1 slide por linha em telas muito pequenas */
    }
}
